html {
    background: #8FAADC;
}

/* */
/* 
INDEX
 */ 
/* */
/* */ 

/* Not sure if there is an easier way to include logo
.intro{
    background-image: url();
    background-position: right middle;
    background-size: 1018px, 714px;
    background-repeat: no-repeat;

}
*/

h1.intro{
img {
  display: block;
  margin-left: 100px;
  margin-right: 2000px;
  margin-top: 50px;
}

h1.intro1{
   /* Orange Welcome */    
    position: absolute;
    width: 610px;
    height: 175px;
    left: 875px;
    top: 30px;

    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 180px;
    color: #EB7021;
}




h2.intro1{
    /* White Welcome */    
    position: absolute;
    width: 610px;
    height: 175px;
    left: 875px;
    top: 15px;
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 180px;

    color: #FFFFFF;
}

#firebaseui-auth-container{
    /* Google Login Box */    
    position: absolute;
    width: 685px;
    height: 522px;
    left: 675px;
    top: 220px;
}

h2.content{
    /* Upload HTML, CSS, JS, or .csv game files */
    position: absolute;
    width: 1736px;
    height: 113px;
    left: 132px;
    top: 43px;

    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 150px;

    color: #FFFFFF;

    border: 6px solid #EB7021;
}

/* */
/* 
UPlOAD
 */ 
/* */
/* */ 

/* all stuff for "add game button */
#add-game-form.button{
    background-color: #EB7021;
    font-size: 55px;
    border-radius: 8px;
    border: 10px solid #FFFFFF;
    width: 568px;
    height: 101px;
}

/*
#add-game-form.button.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#add-game-form.button.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#add-game-form.button.button:hover span {
    padding-right: 25px;
}
  
#add-game-form.button.button:hover span:after {
    opacity: 1;
    right: 0;
}
*/

#html{
    position: absolute;
    width: 355px;
    height: 96px;
    left: 200px;
    top: 288px;
    background-color: #EB7021;
    border: 2px solid #000000;
}
#css{
    position: absolute;
    width: 355px;
    height: 96px;
    left: 200px;
    top: 425px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}
#js{
    position: absolute;
    width: 355px;
    height: 96px;
    left: 200px;
    top: 562px;
    background-color: #EB7021;
    border: 2px solid #000000;
}
#data{
    position: absolute;
    width: 355px;
    height: 96px;
    left: 200px;
    top: 699px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

.content{
    /* lead orange */


position: absolute;
width: 200px;
height: 150px;
left: -108px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: -52px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: -8px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 48px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 92px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 148px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 192px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 248px;
top: 910px;

background: #FFFFFF;


/* lead orange */


position: absolute;
width: 200px;
height: 150px;
left: 292px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 348px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 392px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 448px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 492px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 548px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 592px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 648px;
top: 910px;

background: #FFFFFF;


/* lead orange */


position: absolute;
width: 200px;
height: 150px;
left: 692px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 748px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 792px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 848px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 892px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 948px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 992px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1048px;
top: 910px;

background: #FFFFFF;


/* lead orange */


position: absolute;
width: 200px;
height: 150px;
left: 1092px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1148px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1192px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1248px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1292px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1348px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1392px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1448px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1492px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1548px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1592px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1648px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1692px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1748px;
top: 910px;

background: #FFFFFF;


/* lead orange */


position: absolute;
width: 200px;
height: 150px;
left: 1792px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1848px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1892px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 1948px;
top: 910px;

background: #FFFFFF;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 1992px;
top: 910px;

background: #EB7021;


/* orange */


position: absolute;
width: 200px;
height: 150px;
left: 2092px;
top: 910px;

background: #EB7021;


/* white */


position: absolute;
width: 200px;
height: 150px;
left: 2156px;
top: 927px;

background: #FFFFFF;
}