html {
    background: #8FAADC;
}

/* */
/* 
INDEX
 */ 
/* */
/* */ 

/* Not sure if there is an easier way to include logo
.intro{
    background-image: url();
    background-position: right middle;
    background-size: 1018px, 714px;
    background-repeat: no-repeat;

}
*/
img {
  display: block;
  margin-left: 100px;
  margin-right: 2000px;
  margin-top: 50px;
}

h1.intro1{
   /* Orange Welcome */    
    position: absolute;
    width: 610px;
    height: 175px;
    left: 875px;
    top: 30px;

    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 180px;
    color: #EB7021;
}




h2.intro1{
    /* White Welcome */    
    position: absolute;
    width: 610px;
    height: 175px;
    left: 875px;
    top: 15px;
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 180px;

    color: #FFFFFF;
}

#firebaseui-auth-container{
    /* Google Login Box */    
    position: absolute;
    width: 685px;
    height: 522px;
    left: 675px;
    top: 220px;
}

h2.content{
    /* Upload HTML, CSS, JS, or .csv game files */
    position: absolute;
    width: 1736px;
    height: 113px;
    left: 132px;
    top: 43px;

    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 150px;

    color: #FFFFFF;

    border: 6px solid #EB7021;
}